.contact {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.contact__bg {
  width: 100%;
  height: 75vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/contactbg.webp);
}
.contact__form {
  width: 100%;
  height: 75vh;
}
