.home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(180deg, #e4010b10 50%, transparent 150%);
  background-size: cover;
  object-fit: cover;
  background-position: 100% 70%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: minmax(50rem, 3fr) minmax(50rem, 1fr);
}

.home__left-box {
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home__right-box {
  width: 100%;
  background-color: transparent;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.right-box__card {
  box-shadow: 0 1rem 4rem #00000025;
  border-radius: 0.5rem;
  background-color: #ffffff;
  height: 100%;
  /* width: 50%; */
  border: 10px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  justify-self: flex-start;
  gap: 2rem;
  padding: 6rem;
  overflow: hidden;
  position: relative;
  z-index: 90;
  filter: saturate(75%);
  border-top: 8px dotted #aaa;
  /* border-right: 2px dotted #aaa; */
}

.right-box__card::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: var(--color-tertiary);
  transform: rotate(45deg) translate(-50%, -50%);
  top: 50%;
  left: -4rem;
  border-radius: 0.5rem;
  z-index: 91;
}
.right-box__card img {
  width: 75%;
  max-width: 40rem;
  height: auto;
  filter: contrast(75%) contrast(90%) opacity(90%);
}
.right-box__card h2 {
  /* margin-bottom: rem; */
  color: var(--color-text-black);
  font-size: 4.8rem;
  font-family: var(--font-sans);
  font-family: "Merriweather", serif;
  align-self: flex-start;
  z-index: 92;
  font-weight: 600;
}
.right-box__card p {
  color: var(--color-text-black);
  font-size: 1.8rem;
  font-family: var(--font-sans);
  font-family: "Merriweather", serif;
  z-index: 92;
}

.right-box__card h2 span {
  z-index: 92;
  font-size: 5.8rem;
  color: var(--color-green);
  font-weight: 800;
}

.right-box__rope {
  background-image: linear-gradient(90deg, #369646 33%, #ffffff 33%, #fcfcfc 66%, #d33434 66%);
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2rem;
  box-shadow: -25rem -3rem 7rem #36964660, 25rem -3rem 7rem #d3343460;
}
