.home {
  height: 100vh;
  background-image: linear-gradient(180deg, #444444 0%, transparent 50%), url(../../public/assets/brooke-lark-1Rm9GLHV0UA-unsplash.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: 100% 6%;
  background-repeat: no-repeat;
}
