.navbar {
  /* position: absolute; */
  background-color: #ffffff11;
  backdrop-filter: blur(30px);
  box-shadow: 0 1rem 5rem #00000025;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 0 5vw;
  width: 100%;
}

.navbar__logo {
  /* border: 1px solid green; */
}

.navbar__logo img {
  width: 6.4rem;
  height: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navbar__item {
  list-style: none;
}

.navbar__link {
  color: #ffffff;
  font-family: "SF-pro-medium";
  font-size: 2.1rem;
}
