@font-face {
  font-family: SF-pro-light;
  src: url(../public/assets/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SF-pro-medium;
  src: url(../public/assets/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: SF-pro-bold;
  src: url(../public/assets/SFPRODISPLAYBOLD.OTF);
}
:root {
  --font-light: SF-pro-light;
  --font-medium: SF-pro-medium;
  --font-bold: SF-pro-bold;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "SF-pro-light";
}

p {
  font-family: var(--font-light);
  font-size: 1.6rem;
}

button {
  font-family: var(--font-regular);
  padding: 2.2rem 3rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  font-size: 2.1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button i {
  font-size: 3.2rem;
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}
button:hover i {
  transform: translateX(0.5rem);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-bold);
  letter-spacing: -1px;
  line-height: 1.3rem;
}
