@font-face {
  font-family: SF-pro-regular;
  src: url(../public/assets/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: SF-pro-medium;
  src: url(../public/assets/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: SF-pro-bold;
  src: url(../public/assets/SFPRODISPLAYBOLD.OTF);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "SF-pro-bold";
}
