:root {
  --color-white: #ffffff;
  --color-primary: #ff5100;
  --color-secondary: #00255e;
  --color-tertiary: #e4010b;
  --color-bg: #f0eeed;
  --color-black: #181e27;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  color: #444444;
}

p {
  font-size: 1.6rem;
}

button {
  padding: 2.2rem 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 2.1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
button .btn__icon {
  font-size: 3.2rem;
  margin-left: 0.5rem;
  transition: all 0.2s ease-in-out;
}
button:hover .btn__icon {
  transform: translateX(0.5rem);
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -1px;
  line-height: 1.3rem;
}
a {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  height: min-content;
  padding: 10rem 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__icon {
  margin-right: 1.5rem;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 47em) {
  html {
    font-size: 50%;
  }
}
